@import 'variables.scss';

.bg {
    background: url('../../imgs/bg/fond.jpg');
    width: 100vw;
    height: 100vh;
    position:absolute;
    top:0;
    left:0;
    z-index:-1000;
    mix-blend-mode:overlay;
    opacity: 0.45;
    animation: animation 100s linear infinite;
  }
  
  @keyframes animation {
     100%{
      background-position:0px -3000px;
    }
  }
