@import 'variables.scss', 'background.scss', 'link.scss', 'openSite.scss';

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "text";
}

body {
    background-image: url(../../imgs/bg/010_C.png);
    background-size: cover;
  }

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18vh;
  img{
      width: 10%;
      height: auto;
  }
  h1{
      font-family: "title";
      font-size: 4em;
      margin: 3vh;
      position: relative;
      &:before, &:after{
        content: "";
        position: absolute;
        height: 2px;
        background: #000;
        width:35vw;
        transform: translateY(2vh);
      }
      &:before{
        left: -38vw;
      }
      &:after{
          right: -38vw;
      }

  }
  h2{
      display:flex;
      flex-direction: column;
      text-align: center;
      font-weight: 300;
      font-size:2em;
      margin-bottom: 7vh;
  }
}

p{
    display: flex;
    flex-direction: column;
    margin-top:4vh;

    span{
        text-align :center;
        font-style: italic;
        
        &:nth-child(1):before{
            content:url("../imgs/arrow-top.svg");
            position: absolute;
            left: 50%;
            transform: translate(-50%, -20px);
        }
    }
}